@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 42 36% 95%;
    --foreground: 0 0% 11%;
    --card: 42 36% 95%;
    --card-foreground: 0 0% 11%;
    --popover: 42 36% 95%;
    --popover-foreground: 0 0% 11%;
    --primary: 26 29% 49%;
    --primary-foreground: 0 0% 11%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 42 36% 95%;
    --muted: 42 35% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 42 36% 95%;
    --accent-foreground: 0 0% 11%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 11%;
    --border: 42 35% 20%;
    --input: 42 35% 20%;
    --ring: 42 36% 40%;
    --radius: 0rem;
  }

  .dark {
    --background: 47 36% 5%;
    --foreground: 0 0% 89%;
    --card: 47 36% 5%;
    --card-foreground: 0 0% 89%;
    --popover: 47 36% 5%;
    --popover-foreground: 0 0% 89%;
    --primary: 26 29% 51%;
    --primary-foreground: 47 36% 5%;
    --secondary: 0 0% 89%;
    --secondary-foreground: 47 36% 5%;
    --muted: 47 35% 80%;
    --muted-foreground: 0 0% 89%;
    --accent: 47 36% 5%;
    --accent-foreground: 0 0% 89%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 47 36% 60%;
    --input: 47 35% 80%;
    --ring: 47 36% 60%;
  }
}

.pc-bg {
  background: linear-gradient(
    180deg,
    rgba(29, 29, 29, 0) 0%,
    rgba(29, 29, 29, 0.59156162464986) 59%,
    rgba(29, 29, 29, 1) 84%,
    rgba(29, 29, 29, 1) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.3s ease;
}

.pc-bg:hover {
  background-color: rgba(0, 0, 0, 0.5); 
 
}

.pc-bg:hover  .pb-content{
    @apply bottom-3/4;
}
.pb-link{
  @apply inline-block opacity-0;
  transition:  0.5s ease;

}
.pb-link:hover{
  @apply  bg-primary text-background;
}
.pb-card:hover .pb-link{
  @apply inline-block opacity-100;
}
